.card {
  color: var(--color-text);

  > div div {
    /* Override global rule from page.css that interferes with the text highlighting layer in the react-pdf viewer */
    margin: 0;
  }
}

.card.bordered {
  background: var(--color-background-light);
  border: 1px solid var(--color-border);
  box-shadow: var(--color-card-shadow);
  border-radius: var(--size-border-radius);

  &.raised {
    box-shadow: var(--color-card-shadow-raised);
  }

  .cardHeader {
    padding: var(--size-padding-xxs) var(--size-padding-sm);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--color-card-heading-background);

    &.dark {
      color: var(--color-text-light);
      background-color: var(--color-card-heading-background-dark);
    }
  }

  .cardContentBorderTop {
    border-top: 1px solid var(--color-border);
  }

  .padding {
    padding: var(--size-padding-sm);
  }
}

.cardContent {
  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  margin: 0;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  padding: var(--size-padding-sm) 0;
}
