.pdfDisplayWrapper {
  > div div {
    /* Override global rule from page.css that interferes with the text highlighting layer in the react-pdf viewer */
    margin: 0;
  }

  :global(.react-pdf__Page__annotations) {
    background: transparent !important;
  }

  :global(.react-pdf__Page__annotations) * {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  :global(.react-pdf__Page__annotations) a {
    cursor: pointer;
    color: var(--color-text-link) !important;
    text-decoration: underline !important;
  }
}
