/*
  admonitions

  - uses https://www.npmjs.com/package/markdown-it-admon
  - styles loosely borrowed from repo CSS: https://github.com/commenthol/markdown-it-admon/blob/main/styles/admonition.css
 */

//.w-success {
//  color: var(--color-text-success);
//  padding: var(--size-message-padding);
//  border-radius: var(--size-message-border-radius);
//}
//.w-warning {
//  color: var(--color-text-warning);
//  padding: var(--size-message-padding);
//  border-radius: var(--size-message-border-radius);
//}
//.w-error {
//  color: var(--color-text-error);
//  padding: var(--size-message-padding);
//  border-radius: var(--size-message-border-radius);
//}
//blockquote,
//.w-information {
//  color: var(--color-text-info);
//  padding: var(--size-message-padding);
//  border-radius: var(--size-message-border-radius);
//}

/* Base Admonition Style */
.admonition {
  margin: 1.5em 0;
  padding: 0.8rem 1rem;
  border-left: 4px solid;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.admonition > p {
  margin: 0.5em 0 0;
}

.admonition > .admonition-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* Info */
.admonition.information {
  border-left-color: var(--color-border-info);
  background-color: var(--color-background-info);
}

/* Success */
.admonition.success {
  border-left-color: var(--color-border-success);
  background-color: var(--color-background-success);
}

/* Warning */
.admonition.warning {
  border-left-color: var(--color-border-warning);
  background-color: var(--color-background-warning);
}

/* Error */
.admonition.error {
  border-left-color: var(--color-border-error);
  background-color: var(--color-background-error);
}

/* Harmonized Blockquote */
blockquote {
  margin: 1.5em 0;
  padding: 0.8rem 1rem;
  border-left: 4px solid #9e9e9e;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #333;
  font-style: italic;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}
