/*
 reused entities
*/

.w-clear-after::after,
.w-clear {
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  content: ' ';
} //'use to clear floats'

@mixin border($width: 1px) {
  border: $width solid $border;
}

@mixin fixed-color-text($color: var(--color-text-primary)) {
  color: $color;
  a,
  a:hover,
  a:active,
  a:visited,
  .w-false-link,
  .w-false-link:hover {
    color: $color;
  }
}

.w-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.w-inline {
  display: inline;
}
