/*
 reused entities
*/

.w-clear-after::after,
.w-clear {
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  content: ' ';
} //'use to clear floats'

.w-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.w-inline {
  display: inline;
}
