/*
 page color schemes
*/

$brand-secondary-color: rgb(46, 113, 225);
$brand-secondary-color-light: rgb(222, 232, 252);

$light: #eee;
$medium: #ddd;
$dark: #bbb;
$border: #999;

/*
 text color scheme
*/

$focus: #4b91ff;

$success: #ccffbc;
$warning: #fff0bd;
$error: #ffe6e6;
$information: $brand-secondary-color-light;

$light-text: #fff; //'color for text on dark backgrounds'

$topBarHeight: 80px;
$sideBarMinWidth: 40px;
