/*
 page color schemes
*/

$brand-secondary-color: rgb(46, 113, 225);
$brand-secondary-color-light: rgb(222, 232, 252);

$medium: #ddd;
$dark: #bbb;
$border: #999;

/*
 text color scheme
*/

$success: #ccffbc;
$warning: #fff0bd;
$error: #ffe6e6;
$information: $brand-secondary-color-light;
