#dg-coverInfo {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
}

#dg-coverInfo {
  border-collapse: separate; /*http://stackoverflow.com/questions/7625586/*/
}

#dg-coverInfo th {
  background-color: rgb(46, 113, 225);
  color: white;
  font-size: 34px;
  padding: 20px;
  border: 1px solid rgb(46, 113, 225);
  border-radius: 10px 10px 0 0;
}

#dg-coverInfo tr td {
  border-top: 2px solid rgb(46, 113, 225);
  border-left: 2px solid rgb(46, 113, 225);
  border-bottom: none;
  border-right: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

#dg-coverInfo td:last-child {
  border-right: 2px solid rgb(46, 113, 225);
}

#dg-coverInfo .dg-finalRow td {
  border-bottom: 2px solid rgb(46, 113, 225);
}

#dg-summary {
  margin-bottom: 100px;
}

/*
  PDF header
*/

#dg-pdf-header {
  text-align:right;
}

/*
  PDF cover
*/

#dg-pdfLogo {
  display: inline-block;
  float: right;
}

#dg-pdf-cover-footer {
  width: 100%;
  text-align: center;
}

/*
  PDF footer
*/

#dg-pdf-footer {
  border-top: 1px solid #385691;
  padding-top: 10px;
}

#dg-pdf-footer table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
}

#dg-pdf-footer a {
  text-decoration: none;
  color: #444;
}