.menu-btn {
  display: block;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.menu-btn span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  display: none;
  background-color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  z-index: 1;
  overflow-y: auto;

  .dg-hamburger-menu-content {
    margin-top: 60px;
    padding: 10px;
  }

  .dg-hamburger-menu-content h2 {
    margin-bottom: 10px;
  }

  .dg-hamburger-menu-content ul {
    padding-left: 20px;
  }
}

#menu-toggle:checked + .menu-btn + .menu {
  display: block;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
