/*
 page
*/

html {
  height: 100%;
  background-color: var(--color-text);
  color: var(--color-text);

  body {
    height: 100%;
  }
}

/*
 page content
*/

section {
  background-color: var(--color-background-light);
  /*
		Center content
	*/
  width: 1200px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  > * {
    text-align: left; /* Reset text alignment for child items */
  }

  @media not print {
    //https://stackoverflow.com/a/50659635/942635
    flex: 1 0 auto;
  }

  > div p:not(blockquote p),
  > div div,
  > div pre,
  > div ul,
  > div ol,
  > div table,
  > div blockquote {
    margin: 20px 0 20px 0;
  }
}
