$sidebarPadding: 1.4rem;
$sidebar_width: 400px;
$sidebar_width_collapsed: 30px;
$topbar_height: 50px;
$sidebarPadding: 5px;

#dgSideBar {
  background-color: #1c1c1c;
  color: white;
  position: relative;
  transition: width 0.4s ease;
  width: $sidebar_width;
  position: fixed;
  top: $topbar_height;
  left: 0;
  bottom: 0;
  z-index: 99;

  @media print {
    display: none;
  }

  &.dgSideBarCollapsed {
    width: $sidebar_width_collapsed;
  }
}

.inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $sidebarPadding;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

#dgSideBarButton {
  position: absolute;
  right: 0;
  margin-right: -18px;
  bottom: $sidebarPadding;
  z-index: 4;
  transition: transform 0.4s;

  .dgSideBarCollapsed & {
    transform: scaleX(-1);
  }
}
