table {
  border-spacing: 0;
  border-collapse: collapse;

  td,
  th {
    border: var(--size-border-width) solid var(--color-border);
    padding: var(--size-table-cell-padding);
    height: 25px;
    vertical-align: middle;
  }

  th,
  tfoot td {
    background-color: var(--color-table-background-header-footer);
    font-weight: bold;
  }

  caption {
    caption-side: bottom;
    font-weight: bold;
    padding: 15px;
  }

  tr:nth-of-type(2n) {
    background-color: var(--color-table-background-row);
  }
}
