table {
  border-spacing: 0;
  border-collapse: collapse;

  td,
  th {
    border: var(--size-border-width) solid var(--color-border);
    padding: var(--size-table-cell-padding);
  }

  th,
  tfoot td {
    background-color: var(--color-table-background-header-footer);
    font-weight: bold;
  }

  tr:nth-of-type(2n) {
    background-color: var(--color-table-background);
  }
}
