/*
 typography
*/

@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'droid-sans-mono';
  src: url('fonts/DroidSansMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$default-font: 'montserrat', Arial, sans-serif;
$code-font: 'droid-sans-mono', Courier, monospace;
$default-line-height: 26px;

html {
  font-size: var(--size-font-medium);
}

body {
  font-family: $default-font;
  font-size: var(--size-font-medium);
  line-height: $default-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
.dg-fakeHeading {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text-primary);
  padding-bottom: 5px;
  line-height: 1.285714em;
  margin: 0 0 1rem;
}
h1 {
  font-size: var(--size-font-h1);
}
h2 {
  font-size: var(--size-font-h2);
}
h3 {
  font-size: var(--size-font-h3);
}
h4 {
  font-size: var(--size-font-h4);
}
h5 {
  font-size: var(--size-font-h5);
}
h6 {
  font-size: var(--size-font-h6);
}

/*
 lists
*/

p,
ul,
ol {
  margin: 0 0 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
ul,
ol {
  padding-left: 15px;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
li.list-heading {
  position: relative;
  left: -15px;
  list-style-type: none;
  font-weight: bold;
}
section > div ul ul,
section > div ol ol {
  margin: 0;
} /*don't put margin on nested lists*/

.w-small {
  font-size: 12px;
}
.w-large {
  font-size: 18px;
}
.w-massive {
  font-size: 34px;
}

.w-bold {
  font-weight: bold;
}
.w-information-text {
  color: var(--color-text-info);
}
.w-success-text {
  color: var(--color-text-success);
}
.w-warning-text {
  color: var(--color-text-warning);
}
.w-error-text {
  color: var(--color-text-error);
}
.w-de-emphasised-text {
  color: var(--color-text-light);
}

/*
 links
*/

a,
.w-false-link,
.w-link-button {
  color: var(--color-text-link);
}
a:hover,
.w-false-link:hover,
.w-link-button:hover {
  color: var(--color-text-link-hover) !important; //otherwise visited overrides
  text-decoration: none;
}
a:active,
a:focus,
.w-false-link:active,
.w-false-link:focus,
.w-link-button:active,
.w-link-button:focus {
  color: var(--color-text-link-active);
}
a:visited {
  color: var(--color-text-link-visited);
}

.w-false-link,
.w-link-button {
  text-decoration: underline;
  cursor: pointer;
}

.w-message {
  border-radius: 5px;
}

.w-success {
  color: var(--color-text-success);
  background-color: var(--color-background-success);
  border-left: 5px solid var(--color-border-success);
  padding: var(--size-message-padding);
  border-radius: var(--size-message-border-radius);
}
.w-warning {
  color: var(--color-text-warning);
  background-color: var(--color-background-warning);
  border-left: 5px solid var(--color-border-warning);
  padding: var(--size-message-padding);
  border-radius: var(--size-message-border-radius);
}
.w-error {
  color: var(--color-text-error);
  background-color: var(--color-background-error);
  border-left: 5px solid var(--color-border-error);
  padding: var(--size-message-padding);
  border-radius: var(--size-message-border-radius);
}
blockquote,
.w-information {
  color: var(--color-text-info);
  background-color: var(--color-background-info);
  border-left: 5px solid var(--color-border-info);
  padding: var(--size-message-padding);
  border-radius: var(--size-message-border-radius);
}

/*
 pre-formatted, code
*/

code {
  font-family: $code-font;
}

pre {
  padding: 12px;
  background-color: #f3f3f3;
  border: 1px solid var(--color-border);
  line-height: 14px;
  border-radius: 6px;
}

.w-inline-code {
  background-color: #f3f3f3;
  vertical-align: middle;
  display: inline-block !important; //override highlight.js changing code to display: block;
  padding: 2px !important;
  border-radius: 2px;
}
