h1,
h2,
h3,
h4,
h5,
h6,
.dg-fakeHeading {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
  padding-bottom: 5px;
  line-height: 1.285714em;
  margin: 0 0 1rem;
}

h1 {
  font-size: var(--size-font-h1);
}

h2 {
  font-size: var(--size-font-h2);
}

h3 {
  font-size: var(--size-font-h3);
}

h4 {
  font-size: var(--size-font-h4);
}

h5 {
  font-size: var(--size-font-h5);
}

h6 {
  font-size: var(--size-font-h6);
}

/*
 lists
*/

p,
ul,
ol {
  margin: 0 0 1rem;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 1.5rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li.list-heading {
  position: relative;
  left: -15px;
  list-style-type: none;
  font-weight: bold;
}

section > div ul ul,
section > div ol ol {
  margin: 0;
}

.w-small {
  font-size: 12px;
}

.w-large {
  font-size: 18px;
}

.w-massive {
  font-size: 34px;
}

.w-bold {
  font-weight: bold;
}

.w-information-text {
  color: var(--color-text-info);
}

.w-success-text {
  color: var(--color-text-success);
}

.w-warning-text {
  color: var(--color-text-warning);
}

.w-error-text {
  color: var(--color-text-error);
}

.w-de-emphasised-text {
  color: var(--color-text-light);
}

/*
 links
*/

a,
.w-false-link,
.w-link-button {
  color: var(--color-text-link);
}

a:hover,
.w-false-link:hover,
.w-link-button:hover {
  color: var(
    --color-text-link-hover
  ) !important; /*otherwise visited overrides*/
  text-decoration: none;
}

a:active,
a:focus,
.w-false-link:active,
.w-false-link:focus,
.w-link-button:active,
.w-link-button:focus {
  color: var(--color-text-link-active);
}

a:visited {
  color: var(--color-text-link-visited);
}

.w-false-link,
.w-link-button {
  text-decoration: underline;
  cursor: pointer;
}

.w-message {
  border-radius: 5px;
}

/*
 pre-formatted, code
*/

code {
  font-family: var(--code-font), monospace;
}

pre {
  padding: 12px;
  background-color: #f3f3f3;
  border: 1px solid var(--color-border);
  line-height: 1.5;
  border-radius: 6px;
  overflow-x: auto;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

.w-inline-code {
  background-color: #f3f3f3;
  vertical-align: middle;
  padding: 2px !important;
  border-radius: 2px;
}
