.pdfViewerOuterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pdfViewerInnerWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  aspect-ratio: 210 / 297;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.loaderWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 210 / 297;
}

.pdfHeader {
  background-color: #323639 !important;
  color: white;
  border-bottom: 1px solid #323639;
  padding: 4px 12px !important;
}
