<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages. Do not put scripts before this line.-->
  <meta name="viewport" content="width=device-width, user-scalable=yes"><!--Mobile device scaling-->
  <meta charset="UTF-8">
  <title></title>

  <!--load stylesheets first (rationale: https://developers.google.com/speed/docs/best-practices/rtt#PutStylesBeforeScripts)-->
  <link rel="stylesheet" href="require/styles/framework.css" type="text/css" />
  <link rel="stylesheet" href="require/styles/highlight.min.css" type="text/css" />
  <link rel="stylesheet" href="require/docgen.css" type="text/css" />
  <link rel="stylesheet" href="require/print.css" media="print" />

  <!--load scripts second-->

  <script src="require/styles/framework.js"></script>
  <script src="require/styles/framework.icons.js"></script>
  <script src="require/styles/highlight.min.js"></script>

  <!--inline scripts last-->

<script type="text/javascript">

$(document).ready( function () {
  $("#dg-toc").hide(); //hide the table of contents

  //instantiate an svg injector to show SVG icons
  var injector = new svgInject();
  injector.inject();

  //code syntax highlighting
  $('pre code, .w-inline-code').each(function(i, block) {
    hljs.highlightBlock(block);
  });

  //toggle visibility of table of contents
  $("#dg-navigator").click(function()
  {
    console.log('navigator click');
    $("#dg-toc").slideToggle("fast");
    $(this).toggleClass("active");
  });

});
</script>

<script type="text/x-mathjax-config">
//MathJax configuration is the same as used by math.stackexchange.com
MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
  tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
  TeX: {  noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } }, Macros: { href: "{}" } },
  messageStyle: "none"
});
</script>

</head>
<body></body>
</html>
