<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages. Do not put scripts before this line.-->
  <meta name="viewport" content="width=device-width, user-scalable=yes"><!--Mobile device scaling-->
  <meta charset="UTF-8">
  <title></title>

  <!--load stylesheets first (rationale: https://developers.google.com/speed/docs/best-practices/rtt#PutStylesBeforeScripts)-->
  <link rel="stylesheet" href="require/styles/framework.css" type="text/css" />
  <link rel="stylesheet" href="require/styles/highlight.min.css" type="text/css" />
  <link rel="stylesheet" href="require/docgen.css" type="text/css" />
  <link rel="stylesheet" href="require/print.css" media="print" />

  <!--load scripts second-->

  <script src="require/styles/framework.js"></script>
  <script src="require/styles/framework.icons.js"></script>
  <script src="require/styles/highlight.min.js"></script>

  <!--inline scripts last-->

<script type="text/javascript">

$(document).ready( function () {
  $("#dg-toc").hide(); //hide the table of contents

  //instantiate an svg injector to show SVG icons
  var injector = new svgInject();
  injector.inject();

  //code syntax highlighting
  $('pre code, .w-inline-code').each(function(i, block) {
    hljs.highlightBlock(block);
  });

  //toggle visibility of table of contents
  $("#dg-navigator").click(function()
  {
    $("#dg-toc").slideToggle("fast");
    $(this).toggleClass("active");
  });

});
</script>

<script type="text/x-mathjax-config">
//MathJax configuration is the same as used by math.stackexchange.com
MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
  tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
  TeX: {  noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } }, Macros: { href: "{}" } },
  messageStyle: "none"
});
</script>

</head>

<body>

<div id="dg-toc"></div>
<div id="dg-navigator">Table of contents</div>

<header>
  <div class="w-fixed-width header-container">
    <div class="header">
      <div class="headerLeftBlock">
        <a class="dg-homelink" href="#">
          <img id="headerLogo" src="files/images/logo.svg" alt="Logo">
        </a>
        <div id="headerLeftText">
          <a class="dg-homelink" href="#">
            <span id="dg-title"></span> <span id="dg-web-title-version" style="font-weight:normal;"></span>
          </a>
          <div id="headerSponsor">
            <span>Sponsored by</span>
            <a href="https://www.inkit.com">
              <img id="sponsorLogo" src="files/images/inkit-logo-small.svg" alt="Inkit logo">
            </a>
          </div>
        </div>
      </div>
      <div class="right-block">
        <a href="#">Link</a>
      </div>
    </div>
<!--    <div class="header-title">-->
<!--      <a id="dg-homelink" href="#">-->
<!--        <div id="dg-logo" style="background-image:url('docs/images/logo.svg');">-->

<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="header-extra">-->
<!--      <span id="dg-backlink"></span>-->
<!--    </div>-->
  </div>
</header>

<section id="dg-content">

</section>

 <footer>
  <div><p class="w-fixed-width"><span id="dg-web-footer">.</p></div>
  <div class="w-fixed-width">
    <p><span id="dg-copyright"></span></p>
    <p>
      <span id="dg-marking"></span>
      <span id="dg-legalese"></span>
      <span id="dg-attribution"></span>
    </p>
  </div>
 </footer>

 </body>
</html>
