<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable="no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title></title>
  <link rel="stylesheet" href="require/styles/framework.css" type="text/css" />
  <link rel="stylesheet" href="require/styles/highlight.min.css" type="text/css" />
  <link rel="stylesheet" href="require/print.css" media="print" />
  <script src="require/styles/framework.js"></script>
  <script src="require/styles/icons.js"></script>
  <script src="require/styles/highlight.min.js"></script>
</head>
<body></body>
</html>
