<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../require/styles/framework.css" type="text/css" />
  <link rel="stylesheet" href="../require/docgen.css" type="text/css" />
  <link rel="stylesheet" href="../require/print.css" media="print" />

<style>

#dg-footer {
  border-top: 1px solid #385691;
  padding-top: 10px;
}

#dg-footer table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: #444;
}

</style>

<script> /*from wkhtmltopdf documentation - substitutes in parameters like page numbers at runtime*/
function subst() {
  var vars={};
  var x=document.location.search.substring(1).split('&');
  for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
  var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
  for(var i in x) {
    var y = document.getElementsByClassName(x[i]);
    for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
  }
}
</script>

</head>
<body onload="subst()">
</body>
</html>
