.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left, .right {
    flex: 1;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: auto;
}

.right iframe {
    width: 100%;
    height: 100%;
    border: none;
}
